fieldset {
    margin-top: 10px;
    border-bottom: var(--bs-border-width) solid var(--bs-gray-400);
}

#div_id_accept_privacy_policy {
    margin-top: 10px;
    padding-bottom: 10px;
    border-bottom: var(--bs-border-width) solid var(--bs-gray-400);
}