nav.navbar {
    background-color: rgb(245, 245, 245) !important;
}

nav .active {
    background-color: rgb(219, 219, 219) !important;
    border-radius: 5px;
    font-weight: bold;
}

nav .profile {
    position: absolute;
    right: 30px;
}

nav .profile > a {
    color: var(--bs-navbar-active-color);
    font-weight: bold;
}

.banner-center {
    height: 75px;
    background-color: #87fa87;
    cursor: pointer;
    border: 0;
    font-size: 18pt;
    font-weight: bold;
    color: black;
    text-align: center;
}

.footer-logo {
    margin-bottom: 10px;
}

footer {
    background-color: rgb(245, 245, 245);
    padding: 20px;
}

.messages {
    position: fixed;
    bottom: 0;
    right: 15px;
}

.goog-te-combo {
    background-color: rgb(245, 245, 245);
    text-align: center;
    align-content: center;
  }

div#google_translate_element {
    margin-top: 10px;
    text-align: center;
}


.translate {
background-color: rgb(245, 245, 245);
align-items: center;
align-self: center;
align-content: center;
}

@media(max-width: 991px) {
    nav .profile {
        position: static;
    }
}
