html {
    background-color: pink;
}
.card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    line-height: 2.15;
    padding-left: .75em;
    padding-right: .75em;
}
.card-registration .select-arrow {
    top: 13px;
}
.form-check {
    padding-left: 1cm;
}
.form-label {
    position:relative;
}
#left_img {
    height:780px !important;
}