{% extends 'base.html' %}
{% load static %}

{% block title %}
    DiaCare - Order Food
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'food.css' %}">
{% endblock %}

{% block js %}
    <script>
        $(function () {
            let el, next;
            {% for category in produce_categories %}
                el = $('.select-{{ category.id }}');
                el.attr("size", $('.select-{{ category.id }} option').length);
                el.parent()
                .css("margin-bottom", "0")
                .css("height", el.height() + 100 + "px");

                if(window.innerWidth > 1200) {
                    next = el.next();
                    next.show()
                    .css("position", "relative")
                    .css("left", "74%")
                    .css("bottom", next.height())
                    {% comment %} .parent()
                    .css("margin-bottom", next.height() * -1);
                    .css("height", next.height() + 100 + "px"); {% endcomment %}
                }
            {% endfor %}
         });
    </script>
{% endblock %}


{% block body %}
<br>
<div class="container">
    <h1>Order Food</h1>
    <p>View the food will come with every order and choose the produce you wish to order.</p>
    {% if error %}
        <div class="alert alert-danger">
            {{ error }}
        </div>
    {% endif %}
    <form method="post" action="{% url 'food' %}">
        {% csrf_token %}
        <div class="form-group">
            <div class="foods-container">
                <h4 class="foods-header">
                    Food
                    <br>
                    <small style="font-weight: normal; font-size: 12pt">These foods will come with every order.</small>
                </h4>
                <ul>
                {% for food in foods %}
                    <li>
                        {{ food.name }}
                        <span class="food-quantity">{{ food.quantity }}</span>
                    </li>
                {% endfor %}
                </ul>
            </div>
        </div>
        <br>
        <div class="form-group">
            <div class="produce-container">
                <h4 class="produce-header">
                    Produce
                    <br>
                    <small style="font-weight: normal; font-size: 12pt">Choose the produce you wish to order.</small>
                </h4>
                {% for category in produce_categories %}
                    <div class="produce-category-container">
                        <h5 class="produce-category">
                            {{ category.name }}
                            <br>
                            <i class="max-choices">Choose up to {{ category.maximum_choices }} items.</i>
                        </h5>
                        <select name="category-{{ category.id }}" multiple class="form-control select-{{ category.id }}" required>
                            {% for produce in category.produces %}
                                <option value="{{ produce.id }}">
                                    {{ produce }}
                                </option>
                            {% endfor %}
                        </select>
                        <div class="produce-quantities">
                            {% for produce in category.produces %}
                                <span class="produce-quantity">{{ produce.quantity }}</span>
                                <br>
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <br>
        <div class="form-group">
            <div class="foods-container type-container">
                <h4 class="foods-header type-header">
                    Type
                    <br>
                    <small style="font-weight: normal; font-size: 12pt">Delivery or pickup of food.</small>
                </h4>
                <select name="type" class="form-control type-select" required>
                    <option value="pickup">Pickup</option>
                    <option value="delivery">Delivery</option>
                </select>
            </div>
        </div>
        <br>
        <div class="form-group">
            <div class="foods-container date-container">
                <h4 class="foods-header date-header">
                    Schedule Pickup/Delivery Date
                    <br>
                    <small style="font-weight: normal; font-size: 12pt">Date to pickup or deliver the food.</small>
                </h4>
                <input type="datetime-local" name="date" class="form-control" placeholder="Schedule pickup or delivery" required>
            </div>
        </div>
        <br>
        <div class="form-group">
            <button type="submit" class="btn btn-success">Place Order</button>
        </div>
        <br><br>
    </form>
</div>
{% endblock %}