{% extends "base.html" %}
{% load static %}

{% block title %}
    Food Pharmacy App - Home
{% endblock %}

{% block css %}
    <link href="{% static 'home.css' %}" rel="stylesheet">
{% endblock %}
<a href="{% url 'downloads' %}" class="button small-button print-hide">
    <i class="fas fa-download"></i> Download as CSV
</a>

{% block body %}
<a href="{% url 'orders' %}" class="text-decoration-none">
    <div class="d-flex justify-content-center align-items-center banner-center">
        <span>View Orders</span> &nbsp;&nbsp;
        <i class="fa-solid fa-circle-arrow-right"></i>
    </div>
</a> 

<table class="table infotable">
    <tr class="tr-header">
        <td>
            <i class="fa-solid fa-circle-info"></i> 
            Clinic Information
        </td>
    </tr>
    <tr>
        <td>
            <b>Doctor:</b>             
            <br>
            {{ request.user.doctor }}
            <a href="mailto:{{ request.user.doctor.email }}" class="right-link">
                <i class="fa-solid fa-envelope"></i>
                Email
            </a>
            <a href="tel:{{ request.user.doctor.phone }}" class="right-link">
                <i class="fa-solid fa-phone"></i>
                Phone
            </a>
        </td>
    </tr>
    <tr>
        <td>
            <b>Dietician:</b> 
            <br>
            {{ request.user.dietician }}
            <a href="mailto:{{ request.user.dietician.email }}" class="right-link">
                <i class="fa-solid fa-envelope"></i>
                Email
            </a> &nbsp;
            <a href="tel:{{ request.user.dietician.phone }}" class="right-link">
                <i class="fa-solid fa-phone"></i>
                Phone
            </a>
        </td>
    </tr>
    {% comment %} <tr>
        <td>
            <b>Last clinic visit:</b>
            <br>
            {{ request.user.last_clinic_visit }}
        </td>
    </tr> {% endcomment %}
    <tr>
        <td>
            <b>Last food received:</b> 
            <br>
            {{ last_food_received }}
        </td>
    </tr>


    <tr class="tr-header">
        <td>
            <i class="fa-solid fa-calendar"></i>
            Scheduled Visits
        </td>
    </tr>
    {% comment %} <tr>
        <td>
            <b>Next clinic visit:</b>
            <br>
            {{ request.user.next_clinic_visit }}
            <a href="" class="right-link">
                <i class="fa-solid fa-clock"></i>
                Schedule
            </a>
        </td>
    </tr> {% endcomment %}
    <tr>
        <td>
            <b>Next food order:</b> 
            <br>
            {{ next_food_order }}
            {% comment %} <a href="" class="right-link">
                <i class="fa-solid fa-clock"></i>
                Schedule
            </a> {% endcomment %}
        </td>
    </tr>
    <tr>
        <td>
            <b>Time until next order can be placed:</b> 
            <br>
            {{ time_till_next_order }}
            {% comment %} <a href="" class="right-link">
                <i class="fa-solid fa-clock"></i>
                Schedule
            </a> {% endcomment %}
        </td>
    </tr>
    {% comment %}
    {# Foodbanks map #}
    <tr class="tr-header foodbanks-header">
        <td>
            Nearby Foodbanks
        </td>
    </tr>
    <tr style="border-bottom: 0px solid black">
        <td style="border-bottom: 0px solid black">
            <div class="map-top"></div>
            <iframe src="https://www.google.com/maps/d/embed?mid=15YveJarVCSAZrj3D_FBwUZ531mGwBlQ&hl=en&ehbc=2E312F"></iframe>
        </td>
    </tr>
    {% endcomment %}
</table>
{% endblock %}
