{% extends 'base.html' %}
{% load static %}

{% block css %}
  <link href="{% static 'login.css' %}" rel="stylesheet">
{% endblock %}

{% block body %}
    {% block nav %}{% endblock %}
    <form class="form-signin" method="post">
        <div class="form-group">
            {% csrf_token %}
            <div id="box">
                <img class="mb-4 logo" src="{% static 'images/logo_transparent.png' %}" alt="Food Pharmacy App Logo">
                <h1 class="h3 mb-3 font-weight-normal signintext" id="signhead"><b>Sign in to Food Pharmacy App</b></h1>
            </div>
            <input type="email" name="email" id="email" class="form-control" placeholder="Email address" required autofocus value="{{ email }}">
            <input type="password" name="password" id="password" class="form-control" placeholder="Password" required>
            <button class="btn btn-lg btn-success btn-block" type="submit">Sign in</button>
            <button class="btn btn-lg btn-primary btn-block">
                <a style="color: white; text-decoration: none;" href="{% url 'signup' %}">Sign up</a>
            </button>
            <button class="btn btn-secondary btn-block forgot-password">
                <a style="color: white; text-decoration: none;" href="{% url 'reset_password' %}">Forgot password?</a>
            </button>
        </div>
        {% if error %}
            <br>
            <div class="alert alert-danger" role="alert">
                <i class="fa-sharp fa-solid fa-triangle-exclamation"></i>
                <span>{{ error }}</span>
            </div>
        {% endif %}
        {% if message %}
            <br>
            <div class="alert alert-success" role="alert">
                {{ message }}
            </div>
        {% endif %}
    </form>
{% endblock %}

{% block js %}
<script>
    if (window.location.search.includes('email')) {
        document.getElementById('email').value = window.location.search.split('=')[1];
        document.getElementById('password').focus();
    }
</script>
{% endblock %}
