{% extends 'base.html' %}
{% load static %}

{% block title %}
    DiaCare - Order Food
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'order-food.css' %}">
{% endblock %}

{% block js %}
    <script>
        $(function () {
            let el, next;
            let counter = 0;
            {% for category in produce_categories %}
                el = $('.select-{{ category.id }}');
                el.attr("size", $('.select-{{ category.id }} option').length);
                el.parent()
                .css("margin-bottom", "0")
                .css("height", el.height() + 100 + "px");

                {# Only allow the user to select up to the maximum number of choices #}
                let selectedOptions{{ category.id }};
                el.on('change', function() {
                    if($(this).find(':selected').length > {{ category.maximum_choices }}) {
                        $(this).val(selectedOptions{{ category.id }});
                        let id = "msg-{{ category.id }}-" + counter;
                        let msg = $(".messages").append(`
                            <div class='alert alert-danger alert-dismissable' style="display:none" id='${id}'>
                                <i class='fa-solid fa-triangle-exclamation'></i> 
                                You may only select up to {{ category.maximum_choices }} items from the {{ category }} category.  
                                <button type='button' class='btn-close' data-bs-dismiss='alert' aria-label='Close'></button></div></div>
                        `);
                        setTimeout(function() {
                            $('#' + id).fadeIn('fast');
                        }, 100);
                        setTimeout(function() {
                            $('#' + id).fadeOut('fast');
                        }, 2000);
                        counter++;
                        return;
                    }
                    selectedOptions{{ category.id }} = $(this).val();
                });

                if(window.innerWidth > 1200) {
                    next = el.next();
                    next.show()
                    .css("position", "relative")
                    .css("left", "74%")
                    .css("bottom", next.height())
                    {% comment %} .parent()
                    .css("margin-bottom", next.height() * -1);
                    .css("height", next.height() + 100 + "px"); {% endcomment %}
                    $('.select-{{ category.id }} option').each(function() {
                        $(this).text($(this).text().trim().replace(/\([^)]*\)$/g, "").trim());
                    });
                }
            {% endfor %}
         });
    </script>
{% endblock %}


{% block body %}
<br>
<div class="container">
    {% if order %}
        <h1>Edit Order #{{ order.number }} (ID: {{ order.id }})</h1>
        <p>Edit your order that you placed on {{ order.date_ordered }}</p>
    {% else %}
        <h1>Order Food</h1>
        <p>Place an order for food from Children's National's Food Pharmacy.</p>
    {% endif %}
    {% if error %}
        <div class="alert alert-danger">
            {{ error }}
        </div>
    {% endif %}
    <form method="post" action="">
        {% csrf_token %}
        <div class="form-group">
            {% if order %}
                <input type="hidden" name="order" value="{{ order.id }}">
            {% endif %}

            <div class="foods-container">
                <h4 class="foods-header">
                    Food
                    <br>
                    <small class="small-desc">These foods will come with every order.</small>
                </h4>
                <ul>
                {% for food in foods %}
                    <li>
                        {{ food.name }}
                        <span class="food-quantity">{{ food.quantity }}</span>
                    </li>
                {% endfor %}
                </ul>
            </div>
        </div>
        <br>
        <div class="form-group">
            <div class="produce-container">
                <h4 class="produce-header">
                    Produce
                    <br>
                    <small class="small-desc">Choose the produce you wish to order.</small>
                </h4>
                {% for category in produce_categories %}
                    <div class="produce-category-container">
                        <h5 class="produce-category">
                            {{ category.name }}
                            <br>
                            <i class="max-choices">Choose up to {{ category.maximum_choices }} items.</i>
                        </h5>
                        <select name="category-{{ category.id }}" multiple class="form-control select-{{ category.id }}" required>
                            {% for produce in category.active_produces %}
                                <option value="{{ produce.id }}"
                                    {% if order and produce.id in order_producechoice_ids %}
                                        selected
                                    {% endif %}
                                >
                                {{ produce }}
                                </option>
                            {% endfor %}
                        </select>
                        <div class="produce-quantities">
                            {% for produce in category.active_produces %}
                                <span class="produce-quantity">{{ produce.quantity }}</span>
                                <br>
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <br>
        <div class="form-group">
            <div class="foods-container type-container">
                <h4 class="foods-header type-header">
                    Type
                    <br>
                    <small class="small-desc">Pickup or delivery of food.</small>
                </h4>
                <select name="type" class="form-control type-select" required>
                    <option value="pickup"
                        {% if order and order.type == "pickup" %}
                            selected
                        {% endif %}
                    >Pickup</option>
                    <option value="delivery"
                        {% if order and order.type == "delivery" %}
                            selected
                        {% endif %}
                    >Delivery</option>
                </select>
            </div>
        </div>
        <br>
        <div class="form-group">
            <div class="foods-container date-container">
                <h4 class="foods-header date-header">
                    Schedule Pickup/Delivery Date
                    <br>
                    <small class="small-desc">Date to pickup or deliver the food.</small>
                </h4>
                <input type="datetime-local" name="date" class="form-control" placeholder="Schedule pickup or delivery" required
                    {% if order %}
                        value="{{ order.date_scheduled|date:'Y-m-d' }}T{{ order.date_scheduled|date:'H:i' }}"
                    {% endif %}
                >
            </div>
        </div>
        <br>
        <div class="form-group">
            <div class="comments-container">
                <h4 class="comments-header">
                    Comments
                    <br>
                    <small class="small-desc">If you have anything else you want Food Pharmacy staff to know about your order, include it here.</small>
                </h4>
                <textarea 
                    name="patient-comments" 
                    class="form-control" 
                    placeholder="Add your comments here or leave blank if you have no additional comments."
                >{% if order %}{{ order.patient_comments }}{% endif %}</textarea>
            </div>
        </div>
        <br>
        <div class="form-group">
            <button type="submit" class="btn btn-success">
                {% if order %}
                    Edit
                {% else %}
                    Place 
                {% endif %}
                Order
            </button>
        </div>
        <br><br>
    </form>
</div>
{% endblock %}