{% extends "base.html" %}
{% load static %}

{% block title %}
    DiaCare - Orders
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'orders.css' %}">
{% endblock %}

{% block body %}

<a href="{% url 'order_food' %}" class="text-decoration-none">
    <div class="d-flex justify-content-center align-items-center banner-center">
        <span>Order Food</span> &nbsp;&nbsp;
        <i class="fa-solid fa-circle-arrow-right"></i>
    </div>
</a> 

{% for order in orders %}
            <div class="card">
                <div class="card-header">
                    <h4>
                        <i class="fa-solid fa-list"></i>
                        Order #{{ forloop.revcounter }} (ID: {{ order.id }})
                    </h4>
                    {% if order.complete %}
                        <span class="text-success">
                            Fulfilled on {{ order.date_fulfilled }}
                        </span>
                    {% else %}
                        <i class="text-primary">
                            Scheduled for {{ order.date_scheduled }}
                        </i>
                    {% endif %}
                </div>
                <div class="card-body">
                    <h5>
                        <i class="fa-solid fa-calendar"></i>
                        Date ordered:
                    </h5> 
                    {{ order.date }}
                    <br><br>
                    <h5>
                        <i class="fa-sharp fa-solid fa-bag-shopping"></i>
                        Type:
                    </h5> 
                    {{ order.type|title }}
                    <br><br>
                    <h5>
                        <i class="fa-solid fa-bowl-food"></i>
                        Food:
                    </h5> 
                    <ul>
                        {% for food in order.foods %}
                            <li>{{ food.food }}</li>
                        {% endfor %}
                    </ul>
                    <h5>
                        <i class="fa-sharp fa-solid fa-apple-whole"></i>
                        Produce:
                    </h5> 
                    <ul>
                        {% for produce in order.produces %}
                            <li>{{ produce.produce }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
{% empty %}
<h5 style="position: relative; top: 15px; text-align: center">
    No orders yet!
</h5>
{% endfor %}
{% endblock %}