{% extends "base.html" %}
{% load static %}

{% block title %}
    Food Pharmacy App - Orders
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'orders.css' %}">
{% endblock %}

{% block body %}

{% if not can_order %}
<div class="banner-center open-order d-flex justify-content-center align-items-center">
    <div>
        You have an open order.
        <br>
        <p class="small-desc">
            Your next order (Order #{{ last_order.number }}) is scheduled for <b>{{ last_order.date_scheduled }}</b>
            You can edit it or cancel it below.
        </p>  
    </div>
</div>
{% else %}
<a href="{% url 'order_food' %}" class="text-decoration-none">
    <div class="d-flex justify-content-center align-items-center banner-center">
        <span>Order Food</span> &nbsp;&nbsp;
        <i class="fa-solid fa-circle-arrow-right"></i>
    </div>
</a> 
{% endif %}

{% for order in orders %}
    <div class="card">
        <div class="card-header">
            <h4>
                <i class="fa-solid fa-list"></i>
                Order #{{ order.number }} (ID: {{ order.id }})
            </h4>
            {% if order.fulfilled %}
                <b class="text-success">
                    <i class="fa-solid fa-check status-icon"></i>
                    Fulfilled on {{ order.date_fulfilled }}
                </b>
            
            {% elif order.cancelled %}
                <b class="text-danger">
                    <i class="fa-solid fa-times status-icon"></i>
                    Cancelled on {{ order.date_cancelled }}
                </b>
            {% else %}
                <b class="text-primary">
                    <i class="fa-solid fa-clock status-icon"></i>
                    Scheduled for {{ order.date_scheduled }}
                </b>
                <span class="edit-order">
                    <a href="{% url 'order_food' %}?id={{ order.id }}" class="edit-order-button text-decoration-none">
                        <i class="fa-solid fa-pencil edit-icon"></i>
                        Edit Order
                    </a>
                    <br>
                    <a href="{% url 'cancel_order' %}?id={{ order.id }}" class="cancel-order-button text-decoration-none">
                        <i class="fa-solid fa-times edit-icon"></i>
                        &nbsp;Cancel Order
                    </a>
                </span>
            {% endif %}
        </div>
        <div class="card-body">
            <h5>
                <i class="fa-solid fa-calendar"></i>
                Date ordered:
            </h5> 
            {{ order.date_ordered }}
            <br><br>

            <h5>
                <i class="fa-sharp fa-solid fa-bag-shopping"></i>
                Type:
            </h5> 
            {{ order.type|title }}
            <br><br>

            {% if order.patient_comments %}
                <h5>
                    <i class="fa-solid fa-comment"></i>
                    Comments:
                </h5>
                {{ order.patient_comments }}
                <br><br>
            {% endif %}

            <h5>
                <i class="fa-solid fa-bowl-food"></i>
                Food:
            </h5> 
            <ul>
                {% for food in order.foods %}
                    <li>{{ food.food }}</li>
                {% endfor %}
            </ul>
            <h5>
                <i class="fa-sharp fa-solid fa-apple-whole"></i>
                Produce:
            </h5> 
            <ul>
                {% for produce in order.produces %}
                    <li>{{ produce.produce }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% empty %}
<h5 style="position: relative; top: 15px; text-align: center">
    No orders yet!
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</h5>
{% endfor %}
{% endblock %}