{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block nav %}{% endblock %}

{% block title %}
    Food Pharmacy App - Password Reset
{% endblock %}

{% block css %}
    <style>
        .asteriskField {
            display: none;
        }

        input[type="submit"] {
            margin-top: 10px;
        }

        textarea {
            height: 80px;
        }
    </style>
{% endblock %}

{% block body %}
<div class="container">
    <br>
    <h1 class="text-success">Reset Password</h1>
    <hr>
    <b>Hi, {{ user.first_name }}!</b> Reset your password below.
    <hr>
    {% crispy form %}
    <br>
</div>
{% endblock %}
