{% extends 'base.html' %}
{% load static %}
{% block nav %}{% endblock %}

{% block title %}
    Food Pharmacy App - Password Reset
{% endblock %}

{% block body %}
<div class="container">
    <br>
    <h1 class="text-success">Check your email</h1>
    <hr>
    <b>Please check your email</b>, {{ email }}.
    <br><br>
    <p>
        If the email address you entered is in our system, you will receive an email with a link to reset your password.
        Please check your inbox and click on the link to verify your email address. 
        This link will expire in 1 hour.
        <br><br>
    </p>
    <hr>
    <a href="" class="btn btn-primary">Resend Email</a>
</div>
<br><br><br><br><br><br><br><br><br><br><br><br><br>
{% endblock %}
