{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block css %}
  <link href="{% static 'signup.css' %}" rel="stylesheet">
{% endblock %}

{% block title %}
  Food Pharmacy App - Signup
{% endblock %}

{% block body %}
{% block nav %}{% endblock %}
<div class="container">
  <br>
  <img class="mb-4 logo" height="100" src="{% static 'images/logo_transparent.png' %}" alt="Food Pharmacy App Logo">
  <h1>Sign up for Food Pharmacy App</h1>
  
  <div>
    <b>Already have an account?</b>
    <a href="{% url 'index' %}">Login instead.</a>
    <hr>
  </div>

  <div>
    <h5>About the Food Pharmacy App</h5>
      The Food Pharmacy program at Children's National Hospital supports families of 
      patients of Children’s National's Diabetes Program facing food insecurity by 
      providing healthy and nutritious food options as part of their treatment plan.
      The Food Pharmacy App enables patients to order food
      and view account information for the Food Pharmacy Program from a web portal and mobile app. 
      <br><br>
      Access to the Food Pharmacy program is only available to patients of Children’s 
      National's Diabetes Program who have been referred by their provider. If you
      have not been referred to the Food Pharmacy program, please contact your provider 
      to learn more. 
    <hr>
  </div>

  <div>
    <h5>Signup Process Overview</h5>
      <ol>
        <li>Create an account by filling out the form below with your information.</li>
        <li>Verify your email address by clicking the link in the email we send you.</li>
        <li>Take a questionnaire to determine your eligibility for the Food Pharmacy program.</li>
        <li>If eligible, Food Pharmacy staff or your provider will approve your account.</li>
        <li>After being approved, you can get started with the Food Pharmacy App and order food from the Food Pharmacy program!</li>
      </ol>
    <hr>
  </div>

  <i>* indicates required field</i>
  
  {% crispy form %}

  {% for error in errors %}
    <div class="alert alert-danger" role="alert">
      {{ error }}
    </div>
  {% endfor %}
  <br>
</div>
{% endblock %}


{% block js %}
  {% include 'google-maps-address-complete.html' %}
{% endblock %}
